/* color theme to be overall neutral tones with hints of greens and maybe blues*/

*{
    margin: 0;
    padding: 0;
}

body{
    text-align:center;

}

.wrapper{
    width:90%;
    margin:0 auto;
}


header{
    width: 100%;
    height: 100px;
    background-color:#7284a8;
    position:fixed;

}

.logo{
    width:30%;
    float: left;
    text-align: left;
    line-height:100px;
    margin-left: 0px;
}

.logo a{
    text-decoration: none;
    font-size: 50px;
    color: white;
    font-weight: 400;
}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
    padding: 40px 10px;
    margin: 0 1px;

}

nav a:hover{
    background: white;
    color: #7284a8;
    font-weight: 700;
}

.banner{
    background: #fefaf6;
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}


.banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;

}


.banner h2{
    padding-top: 12%;
    font-size: 80px;
    text-align: left;
    margin-left: 50px;
    color: black;
}


.content{
    width: 100%;
    height: 800px;
    position: relative;
    background: #fefaf6;
    top: 600px;
}

.content h2{
    font-size: 50px;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

  
.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 100px 350px;
    background-color: #fefaf6;
    color: #444;
  }

  .grid-item{
    background-color: #444;
    color: #fff;
    border-radius: 20px;
    padding: 200%;
    font-size: 150%;
    text-align: left;
  }

 
  

  .grid-item:hover{
    background-color:rgb(214, 210, 210);;
    color: black;
    padding: 250%;

  }




